@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply flex flex-col md:flex-row md:items-center justify-end px-4 md:px-0;
}

.nav-link li a {
  @apply uppercase font-semibold btn btn-sm btn-ghost btn-block justify-start md:justify-center;
}
.btn-gardant-s {
  border: 0;
  /* background: #23074d; fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc5333, #23074d);
  background: linear-gradient(to right, #cc5333, #23074d);
}
.btn-gardant-s:hover {
  border: 0;
  /* background: #23074d; */
  background: -webkit-linear-gradient(#23074d #cc5333);
  background: linear-gradient(#23074d #cc5333);
}

.react-toggle-thumb {
  @apply scale-125;
}

.menu li {
  @apply hover:translate-x-2 duration-300;
}
